<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/weather.png"
<body>
    {{!-- <h1>{{title}}</h1> --}}
    <div class="main-content">
        {{>header}}
        <p> Developed By : {{name}}</p>
        <img class='portrait' src="/images/Capture.PNG">
    </div>

    {{>footer}}
</body>
</head>

</html>